$primary-color: #fff;
$secondary-color : #0075ff;
$bad-result: red;
$good-result: #009688;
$perfect-result: #0075ff;
$border-color: #dfdfdf;
$background-app: #f8f8f8;

$bg-app2: #363A66;
$bg-container-elements: #383D6E;
$bg-color-elements: #353A65;
$bg-color-inputs: #323864;
$color-elements: #9C9EB2;

$bg-app2-darkmode: #1C2025;
$bg-container-elements-darkmode: #39434B;
$bg-color-elements-darkmde: #2F2F2F;
$color-btn-darkmode: #EEC9AB;

$bg-gradient: -webkit-linear-gradient(312deg, rgb(82, 83, 105) 0%, rgb(41, 46, 95) 99%, rgb(43, 49, 99) 100%);
$bg-gradient-bullets: linear-gradient(to right, #f2709c, #ff9472); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
